input {
  keyboard {
    xkb {
      layout "us,ru"
      options "grp:alt_shift_toggle"
    }
  }

  touchpad {
      natural-scroll
  }

}

layout {
  gaps 10
}

binds {
  Mod+T { spawn "alacritty"; }
  Mod+Q { close-window; }
  Mod+M { maximize-window-to-edges; }  
  Mod+D { spawn "fuzzel"; }

  // аудио
  XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
  XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
  XF86AudioMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

  // микрофон
  XF86AudioMicMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

  // яркость экрана
  XF86MonBrightnessUp { spawn "brightnessctl" "set" "5%+"; }
  XF86MonBrightnessDown { spawn "brightnessctl" "set" "5%-"; }
}
