input {
  keyboard {
    xkb {
      layout "us,ru"
      options "grp:alt_shift_toggle"
    }
  }

  touchpad {
      natural-scroll
  }

}

layout {
  gaps 10
}

binds {
  Mod+T { spawn "alacritty"; }
  Mod+Q { close-window; }
  Mod+M { maximize-window-to-edges; }  
  Mod+D { spawn "fuzzel"; }

  Mod+Left  { focus-column-left; }
  Mod+Down  { focus-window-down; }
  Mod+Up    { focus-window-up; }
  Mod+Right { focus-column-right; }

  Mod+F { maximize-column; }
  Mod+Shift+F { fullscreen-window; }

  Mod+C { center-column; }

  Mod+V { toggle-window-floating; }
  Mod+Shift+V { switch-focus-between-floating-and-tiling; }

  Mod+Tab { focus-workspace-down; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }

  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }

  Mod+Shift+E { quit; }

  // аудио
  XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
  XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
  XF86AudioMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

  // микрофон
  XF86AudioMicMute { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

  // яркость экрана
  XF86MonBrightnessUp { spawn "brightnessctl" "set" "5%+"; }
  XF86MonBrightnessDown { spawn "brightnessctl" "set" "5%-"; }
}
